
   {% extends 'core/base.html' %}
   {% block content %}
    <h1>Contacto</h1>
    <article>
      "¿Listo para llevar su negocio al siguiente nivel? Contáctenos hoy mismo para una consulta gratuita. Estamos aquí para responder todas sus preguntas y comenzar a construir soluciones que transformarán su empresa."

Formulario:

Nombre
Empresa
Email
Teléfono
Mensaje
Botón: "Enviar"
7. Política de Privacidad y Términos de Servicio
Texto sugerido:

"Nos tomamos en serio su privacidad. Lea nuestra política de privacidad para conocer cómo protegemos su información y nuestros términos de servicio para entender sus derechos y obligaciones al trabajar con nosotros."

    </article>
    {% endblock content %}
