
   {% extends 'core/base.html' %}
   
   {% block meta %}


{% endblock meta %}
    
{% block content %}
{% load static %}
    <section id="presentacion" class = "home">
        <div class = "main_text">Tranasformando Ideas </div>
        <div class = "main_text">    en <span class = "text_background">Soluciones Digitales</span> </div>
        <p>Su socio de confianza en soluciones digitales avanzadas. Nos especializamos en el desarrollo de software a medida, aplicaciones web de alta calidad e inteligencia artificial aplicada. Transformamos sus ideas en realidades tecnológicas que impulsan su negocio hacia el éxito.</p>
        <a href="#servicios" >Contacta Ahora</a>
    </section>
    
    <section id="soluciones" class = "main_services , servicios">
        <h2>Nuestros <span class = "text_background">Servicios</span></h2>
        <article>
            <h3 class = "services_head">Soluciones de IA</h3>
            <p>Potencie su negocio con soluciones de inteligencia artificial y machine learning. Diseñamos y desarrollamos aplicaciones que transforman grandes volúmenes de datos en decisiones estratégicas, optimizando procesos y mejorando la experiencia del usuario. Desde chatbots hasta sistemas de recomendación, llevamos la innovación a cada aspecto de su empresa.</p>
            <div class = "ai_in">
                <div>
                    <ul>
                        <a href = "#"><li>Chatbots y asistentes virtuales</li></a>
                        <a href = "#"><li>Análisis predictivo</li></a>
                        <a href = "#"><li>Automatización inteligente</li></a>
                    </ul>
                </div>
                
            </div>
            <img src="{% static 'core/img/ia.png' %}" alt="">  <!-- -->
        </article>
        <article>
            <h3 class = "services_head">Desarrollo Web</h3>
            <p>Ofrecemos soluciones de desarrollo web personalizadas, desde páginas web corporativas hasta plataformas de comercio electrónico y aplicaciones web interactivas. Nuestro equipo de expertos utiliza las últimas tecnologías para crear sitios web seguros, escalables y fáciles de gestionar, adaptados a las necesidades específicas de su empresa.</p>
            <div class = "ai_in">
                <div>
                    <ul>
                        <a href = "#"><li>Páginas web corporativas</li></a>
                        <a href = "#"><li>Plataformas de comercio electrónico</li></a>
                        <a href = "#"><li>Aplicaciones web interactivas</li></a>
                    </ul>
                </div>
                <img src="{% static 'core/img/dw.png' %}" alt="">
            </div>
        </article>
        <article>
            <h3 class = "services_head">Desarrollo de Software</h3>
            <p>Desarrollamos software a medida que se adapta perfectamente a los procesos y objetivos de su negocio. Desde sistemas de gestión empresarial hasta soluciones móviles, nuestra experiencia nos permite entregar productos robustos y eficientes, diseñados para optimizar el rendimiento y la productividad de su empresa.</p>
            <div class = "ai_in">
                <div>
                    <ul>
                        <a href = "#"><li>Sistemas de gestión empresarial</li></a>
                        <a href = "#"><li>Integraciones y automatización</li></a>
                    </ul>
                </div>
                <img src="{% static 'core/img/sw.png' %}" alt="">
            </div>
        </article>
        <div class = "line"></div>
        <div class = "final_p">
            <p> Ayudamos a nuestros clientes a alcanzar sus objetivos a través de soluciones tecnológicas personalizadas. </p>
            <p> Cada proyecto es una prueba de nuestro compromiso con la calidad, la innovación y la satisfacción del cliente.</p>
        </div>
    </section>

    {% endblock content %}




    <!--
    
        <article>
            "Bienvenido a <strong>Rowalx</strong>, su socio de confianza en soluciones digitales avanzadas. Nos especializamos en el desarrollo de software a medida, aplicaciones web de alta calidad e inteligencia artificial aplicada. Transformamos sus ideas en realidades tecnológicas que impulsan su negocio hacia el éxito."
        </article>
        <article>
           <a href="">Contáctame Hoy</a>
        </article>
    </section>
    <div class = "main_services"> 
        
        <h2>Desarrollo de Aplicaciones con<span class = text_background>IA</span></h2>
        <article>
            Potencie su negocio con soluciones de inteligencia artificial y machine learning.
        </article>
        <div class = "nb">
            <p>
                Diseñamos y desarrollamos aplicaciones que transforman grandes volúmenes de datos en decisiones estratégicas, optimizando procesos y mejorando la experiencia del usuario. Desde chatbots hasta sistemas de recomendación, llevamos la innovación a cada aspecto de su empresa."

            </p>
        </div>
 
            <div class = "nb">
                
                        Chatbots y asistentes virtuales
                    </li></a>
                    <a href = "#"><li>
                        Análisis predictivo
                    </li></a>
                    <a href = "#"><li>
                        Automatización inteligente
                    </li></a>
                </ul>
            </div>
        </article>
    </div>
    <section class = services_main> 
        <article>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24  "  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-code-dots"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 12h.01" /><path d="M12 12h.01" /><path d="M9 12h.01" /><path d="M6 19a2 2 0 0 1 -2 -2v-4l-1 -1l1 -1v-4a2 2 0 0 1 2 -2" /><path d="M18 19a2 2 0 0 0 2 -2v-4l1 -1l-1 -1v-4a2 2 0 0 0 -2 -2" /></svg>
            <h3>Desarrollo Backend</h3>
            <p>
                Creación de soluciones todo tipo para el Backend robustas y escalables. 
            </p>
        </article>
        <article>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-database-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6c0 1.657 3.582 3 8 3s8 -1.343 8 -3s-3.582 -3 -8 -3s-8 1.343 -8 3" /><path d="M4 6v6c0 1.657 3.582 3 8 3c.478 0 .947 -.016 1.402 -.046" /><path d="M20 12v-6" /><path d="M4 12v6c0 1.526 3.04 2.786 6.972 2.975" /><path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z" /></svg>
            <h3>Bases de Datos</h3>
            <p>
                Diseño y gestión de bases de datos relacionales y no relacionales.  
            </p>
        </article>
        <article>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-code"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
            <h3>Diseño Web</h3>
            <p>
                Diseño de interfaces intuitivas y atractivas que ofrecen una excelente experiencia de usuario.
            </p>
        </article>
        <article>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop-code"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12.5 16h-8.5a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v8" /><path d="M7 20h4" /><path d="M9 16v4" /><path d="M20 21l2 -2l-2 -2" /><path d="M17 17l-2 2l2 2" /></svg>
         
            <h3>Desarrollo de Software </h3>
            <p>
                Soluciones de software a medida para satisfacer necesidades específicas.
            </p>
        </article>
    </section>



    -->