* {
    box-sizing: border-box;
}
body{
    background: #0D1117;
    color: #89919B;
    font-family: "Poppins";
    margin: 0;

}

.nada{
    border: 1px solid #318B40; #763FC7 #33B3AE;  #EA4AAA;
    box-shadow: 1px 1px 5px #763FC7 #33B3AE;
    color: #EA4AAA;
    background-color: #763FC7;
}

.margin-top{
    height: 4em;
}


header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: #00000794;
    backdrop-filter: blur(5px);
    height: 4em;
    align-items: center;
    top: 0;
}


header svg{
    padding: 0.5em;
    display: none;
}


header > ul{
    display: flex;
    justify-content: start;   
    flex-wrap: nowrap;
    flex: 4;  
    padding: 0.5em;
    border-radius: 0.3em;
    background:none;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;    
}


header ul {
    list-style: none; 
    padding: 0.5em;
}


header li{
    margin: 0 0.2em;
}


header > ul > li , header > ul > li > ul> li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    border-radius: 0.2em;
    padding: 0.3em;
    background:none;
}  


header > ul > li:first-child{
    background:none;
}  


header > ul > li > a , header > ul > li > ul> li a  {
    text-decoration: none;
    color:#33B3AE ;
    background: linear-gradient(#763FC7 ,  #EA4AAA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    font-size: 1.4em;
} 

header > ul > li > ul> li a{
    font-size: 1.2em;
}


header > ul > li:nth-child(4){
    position: relative;
    display: flex;
    flex-direction: column;
}


header > ul > li:nth-child(4) > ul {
    height: 0;
    overflow: hidden;
}


header > ul > li:nth-child(4):hover  > ul{
    height: max-content;
    visibility: visible;
}


header > ul > li:nth-child(4) > ul >li > ul {
    height: 0;
    display: none;
}


header > ul > li:nth-child(4) > ul >li:hover > ul {
    height: max-content;
    display: block;
}


header > ul > li:nth-child(4) > ul >li:hover > ul > a > li{
    height: max-content;
    margin: 0.5em;
    padding: 0.5em;
    background: #080a0e9c;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 1px #EA4AAA;
    border-left: 5px solid #EA4AAA;
    border-radius: 0.3em;
}


header > ul > li:nth-child(4) > ul >li:hover > ul > a > li{
    font-size: 0.9em;
    background: #89919B;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header > ul > li:nth-child(4) > ul > li > ul > a:hover > li{
    background: #33B3AE;
    border-left: 5px solid #33B3AE;
    box-shadow: 0px 0px 5px #EA4AAA;
    margin-left: 0.7em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}


header > ul > li > ul{
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    position: absolute;
    top: 2em;
    left:0;
    justify-content: center;
    align-items: center;
    width: 380px;
    visibility: hidden;
    padding: 2em 0.5em;
}


header > ul > li > ul > li{
    display: flex;
    width: 96%;
    flex-direction: column;
    /*border: 1px solid green;*/
    justify-content: start;
    align-items: start;
    padding: 0.5em;
    background: #080a0eda;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 1px #33B3AE;
    border-left: 5px solid #33B3AE;
}

header > ul > li > ul > li:hover{
    border-left: 5px solid #EA4AAA;
    background: #080a0eda;

}


header > ul > li > a:hover{
    text-shadow:  -8px -8px 1px #EA4AAA, 8px 8px 1px #33B3AE;
} 



header > img{
    flex: 1;
    margin: 1em;
    height: 1.5em;
}


header > article{
    flex: 1;
}


main{
    display: flex;
    flex-direction: column;        
}

main > section:first-of-type{
    display: block;
}

section{
    display: flex;
    align-items: center;
    margin: 1em;
}


section:last-of-type{
    margin-bottom: 0;
}

a{
    text-decoration: none;
}


.introduccion{
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: left;
   

}

.introduccion::before{
    content: '';
    background-image: url("/static/core/img2/circuit.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-attachment:scroll ; 
    background-position:right;  
  
   position: absolute;
   top: 1;
   left: 0;
   height: 50%;
   width: 100%;
   z-index: -1;
   opacity: 0.6;
}

.introduccion >  p{
    width: 50%;
    margin: 3em 0;
}



.introduccion a , .contacto span > a{
    background: none;
    text-decoration: none;
    width: max-content;
    /*color: #EA4AAA;*/
    color: white;
    border: 1px solid #EA4AAA;
    text-shadow: 1px 1px 1px black;
    border-radius: 1.5em;
    padding: 0.6em 1em;
    font-weight: 400;
    box-shadow:  -3px -3px 7px fuchsia, 3px 3px 7px cyan;
    background: rebeccapurple;
}



.introduccion a:hover , .contacto a:hover{
    background:#763FC7;
    box-shadow:  -0px -0px 5px #EA4AAA, 0px 0px 0px #763FC7;
    border: 1px solid #33B3AE;
    color: #33B3AE;
}


.main_text{
    padding: 0;
    text-align: left;
    font-size: 3.5em;
    color:white;
    font-weight: 300;
}


.introduccion p{
    width: 55%;
}

.introduccion strong{
    color: #33B3AE;
    font-weight: 500;
}

.text_background , .main_services > h2 > span{
    background: linear-gradient(#763FC7 ,  #EA4AAA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;      
} 


.servicios strong{
    color: #33B3AE;
    margin-right: 0.5em;
    font-size: 1.3em;
    font-weight: 300;
}



.servicios{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
   
}


.servicios  article ul{
    flex-direction: column ;
    margin-top: 2em;
    display: flex;
    list-style: none;
}

.servicios article ul li{
    margin: 1em 0;
    flex: 1;
    background: #080a0e4d;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 1px #33B3AE;
    padding: 0.5em;
    text-align: left;
    border-left: 5px solid  #33B3AE;
    width: fit-content;
    border-radius: 0.2em;
    display: flex;
    flex-wrap: wrap;
}


article{
    width: 65%;
    flex: 1;
    margin: 1em;
    padding: 3em;
    border-radius: 0.5em;
    background: #080a0e71;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 1px black;
    /*box-shadow: 1px 1px 2px #763FC7 , -1px -1px 2px #EA4AAA;*/
}

.head_h2{
    font-size: 2.5em;
    font-weight: 200;
}



.beneficios{                   /*SIRVE*/
    display: flex;
    flex-direction: row;
    padding: 0
}


.beneficios  h3{
    margin: 0;
}

.beneficios > li{
    background-color: rebeccapurple;
    min-width: 100%;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0.3em;
 }
 
 .beneficios li p{
    text-align: left;
    width: 100%;
    margin: 0;
    margin-top: 0.5em;
    color: #89919B;
 }
 

 .contacto{

    box-sizing: border-box;
    color: white;
    margin:0;
    margin-top: 1em;    
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse at top, #7e43c5ad, transparent),
    radial-gradient(ellipse at bottom, #f778ba98, transparent);
    }


.contacto > div{
    padding: 0 2em;
    min-width: 70% ;
    box-sizing: border-box;
    font-size: 1em;
    flex: 3;
    }

.contacto > div:last-of-type{
    flex: 1;
    min-width: 300px;
    padding: 0;

    }

.contacto > div:last-of-type > p{
    text-align: center;
    }


.contacto > div > p >span > a{
    background: black;
}

.contacto > div > p >span > a , .contacto > div > p >span{
    font-size: 0.8em;

    display: flex;
    justify-content: center;
    align-items: center;
}



.main_services{                                      /*SIRVE*/
    display: flex;
    padding: 0  3em;
    flex-wrap: wrap;
    /*background: #111823fa;
    backdrop-filter: blur(5px);*/
}


.main_services > article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 2em;
    /*background: #111823fa;
    backdrop-filter: blur(5px);*/
}



.main_services h3{
    width: 100%;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    text-align: left;
    font-size: 2.5em;
    color:white;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
}


.main_services > h2 > span{
    margin-left:0.2em;
    font-weight: 200;
    } 

.main_services > h2 {
    font-size: 3.5em;
    font-weight: 200;
    color: white;
    margin: 0.5em;
    } 
    

.ai_in {                                             /*SIRVE*/
    flex: 2;
    min-width: 65%;
    display: flex;
    flex-direction: column;
}

.ai_in > p{
    width: 100%;
    padding: 0 1em;
}


.main_image{                                  /*SIRVE*/
    display: flex;
    width: 230px;
    justify-content: center;
    align-items: center;
    padding: 1em;
   }

.main_image > img{
   max-width: 100%;
   height: auto;
   }

   
.ai_bg::before{                                                      /*SIRVE USAR*/ 
    content: '';
    background-image: url("/static/core/img/ia.png");
    background-size: 30em; 
    background-repeat: no-repeat;
    background-attachment:scroll ; 
    background-position-y: 5%;
    background-position-x: 95%;
    /*background-position: bottom right;*/
    position: absolute;
    top: 1;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}




.main_services a:hover li {
    color: #33B3AE;
    box-shadow: 0px 0px 15px #33B3AE;
}


.main_services > article > div > div > ul > a > li{
    color: #89919B;
    width: fit-content;
    border: 1px solid #EA4AAA;
    color: white;
    border-radius: 3em;
    padding: 0.5em 1em;
    text-align: center;
}


.services_head{                                                          /*SIRVE*/
    background: linear-gradient(#763FC7 ,  #EA4AAA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #33B3AE;
}



.id_servicios{  /*SIRVE*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%  ;
    align-self: center;
    
}

.id_servicios h2{
    width: 90%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 3em;
}



.id_servicios article{
    display: flex;
    min-width: 330px;
    justify-content: center;
    padding: 2em;
}


.id_servicios article > div{
    flex: 1;
    min-height: 12em;
    display: flex;
    flex-wrap: wrap;
    padding: 0em;
}


.id_servicios article > div > h3 {
    color: #33B3AE ;
    margin: 0.5em ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 1.4em;
    margin: 0;
 }

 .id_servicios article > div > div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}
 .id_servicios article > div > div > h3 {
    color: #33B3AE ;
    font-weight: 300;
    font-size: 1.4em;
    margin: 0;
     margin-right: 1em;
 }



 .id_servicios article > div > div > span{
    background: #763FC7;
    border-radius: 0.3em;
    padding: 0 0.3em;

 }


 .id_servicios article > div  p{
    width: 100%;
 }


.final_p{                                                        /*SIRVE*/
    font-size: 1.3em;
    font-weight: 500;
    color:white;
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;   ;
    width: 65%;
}



.final_p p{
    flex: 1;
    text-align:left ;
    box-shadow: 0px 0px 1px #EA4AAA;
    padding: 2em;
    text-shadow: 2px 2px 4px black;
    background: radial-gradient(ellipse at top, #7e43c565, transparent),
                 radial-gradient(ellipse at bottom, #f778ba3d, transparent);
    border-radius: 0.5em;
    margin: 1em;

}


.final_p p:first-of-type{
    margin-left: 0; 
}


.final_p p:last-of-type{
    margin-right: 0;
}




footer{ 
    padding: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 3px #EA4AAA;
    background: #00000794;
    backdrop-filter: blur(5px);
    }


footer > div{ 
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    }


footer > div:first-child{ 
    justify-content: flex-start;
    display: flex;
    }


footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#763FC7 ,  #EA4AAA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

footer svg {

    background: radial-gradient(#763FC7 ,  #EA4AAA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer a:last-of-type{
    color: #763FC7;
}


footer a > span{
    color: #33B3AE;
}


footer > div:last-child{ 
    justify-content: flex-end;
    }


.main_dw::before{                                            /*SIRVE USAR*/
     content: '';
    background-image: url('/static/core/img/dw.png');
    background-size: 30em; 
    background-repeat: no-repeat;
    background-attachment:scroll ; 
    background-position-y: 5%;
    background-position-x: 95%;
    /*background-position: bottom right;*/
    position: absolute;
    top: 1;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}



.services > svg:first-of-type{
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 3;
}

.services {
    border-radius: .3em;
    padding: 1em;
    border: 1px solid gray;
}


.services_grid > article > svg:first-of-type{
    color:#EA4AAA;
    border-radius: 100%;
    padding: 0.4em;
    /*box-shadow: 1px 1px 10px #f778ba3f ;*/
}



.services_grid > article > h2{
    color:#33B3AE;
}



.services_grid > .services{
    position: relative;
 background: #161B22;
 margin: 0;
}


.services_grid > article {
border: 1px solid gray;
}


.services_grid > article:first-of-type {
    border: 0;
    grid-area: ini;
    border-radius: 0.3em;
    margin: 0.5em;
    margin-left: 0;
    padding: 0em 5em 2em 5em;
    text-align: center;
}


.union article > ul > li{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 0px #33B3AE;  
    color: white;
    border-left: 0;
  
    padding: 0;
    padding-right: 0.4em;
    border-radius: 0.2em;
}

.union article > ul > li > h3{
    color: black;
    background: #33B3AE;
    padding: 0.3em;
    border-radius: 0.2em;
    font-weight: 500;
    margin: 0;
    margin-right: 0.5em;
    font-size: 1em;
}


.flow{
    background: none;
    backdrop-filter: blur(0px);
    box-shadow: 0px 0px 0px red;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
}



.flow > div{
    border: 1px solid #33B3AE;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
    min-width: 300px;
   flex: 1;
   position: relative;
}


.flow > div > p{
    width: 100%;
}

.ffour > div , .ffour > article{
    min-width: 40%;
    
}


.flow > h2{
   width: 100%;
   text-align: center;
   margin-bottom: 2em;
}

.flow  h3{
    color: #EA4AAA;
    font-weight: 400;
 }


 .flow span{
    position: absolute;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0.3em ;
    font-size: 1.5em;
    /*text-shadow: 1px 1px 1px black;*/
    font-weight: bold;
    top: -1em;
    left: -1.8em;
    color:white;
    z-index: 23;
    
    /*box-shadow:  3px -3px 6px #EA4AAA;*/
 }


 .flow span::before , .flow span::after{
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0.3em ;
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1.5em solid #33b3afa1; /* Color del triángulo */
    transform: rotate(90deg);
    z-index: -1;
 }

 
 .flow span::after{
    border-bottom: 1.5em solid #33b3af8c;
    right: -0.7em;
 }



.union article > ul > li{
    width: fit-content;
    padding-right: 0.4em;
}

.union article > ul > li > p{
    width: auto;
    margin: 0em;
}



@media (width < 1200px){

    .union article > ul {
        padding: 0;
    }

    article{
        width: 90%;
    }

    article p{
        width: 100%;
    }

    .introduccion > p{

    }

    
    .introduccion p{
        width:95%;
        padding: 1em;
        margin: 1em 0 2em 0em;
        
    }

.union article > ul > li{
    width: auto;
    padding-right: 0;
}



.union article > ul > li > h3{
    margin-right: 0;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
}


.union article > ul > li > p{
    width: auto;
    padding-right: 0;
    margin: 1em;
}


.final_p{                                                        /*SIRVE*/
    width: 90%;
}
}




@media (width < 725px){
 
    header ul{
        height: 100vh;
        z-index: 1;
        margin: 0;
        position: absolute;
        right: 1em;
        background: none;
        height: 3em;
         max-width: 3em;
         z-index: 1;
         margin: 0;
         padding: 0;
         overflow: hidden;
         position: fixed;
         background: none;
         top: 4em;
    }

    header ul > li{
      background: none;  
    }
    
    /*-------------*/
    header svg{
        display: block;
        background: -webkit-radial-gradient(#33B3AE, #763FC7);
        border-radius: 100%;
     }
 
     
     header ul:hover{
         height: 100vh;
         min-width: 50vw;
         z-index: 1;
         margin: 0;
         box-shadow: -1px -1px 2px rgba(142, 143, 143, 0.158);
         padding: 0;
         right:  0;
         width: 100%;
         background: #00000794;
         backdrop-filter: blur(5px);
         top:-1em;

     }
 
     header ul:hover > li{
        min-width: 100%;
        flex: 1;
        box-shadow: 1px 1px 2px rgba(142, 143, 143, 0.158);
     }
  
     header ul:hover > li:first-child{
        display: none;
     }

     header ul > li:hover{
        box-shadow:inset -1px -1px 3em #33B3AE; 
    }


    .main_text{
        font-size: 2em;
    }
    


    .introduccion{
        padding: 0;
       
    }


    .introduccion > p{
        padding: 0;

    }


    .introduccion::before{
        opacity: 0.1;
    }
    
        
    article{
        width: 90%;
        flex: 1;
        margin: 1em 0;
        padding: 1em;
        border-radius: 0.5em;
        background: #080a0e71;
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 1px black;
        box-sizing: border-box;
        /*box-shadow: 1px 1px 2px #763FC7 , -1px -1px 2px #EA4AAA;*/
        }


    article > p {
        width: 100%;
        padding: 0;
    }

    article ul{
        padding: 0;
    }

    .servicios{
        padding: 0em;
        margin: 0;
    }
    .servicios > h2{
        margin: 1.5em 1em   ;
    }



    .main_services > h2 {
        font-size: 2.5em;
        font-weight: 200;
        color: white;
        margin: 0.5em;
        margin-top: 1.5em;
        text-align: center;
        } 


    .main_services article{
        padding: 1em;
    }


    .main_services p{
        padding: 0;
    }

    .main_services > article > div > div > ul > a > li {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .flow{
        padding: 1em;
    }
    

    .flow > div{
        min-width: 200px;
    }

    .flow > h2{
        text-align: left;
    }

    .head_h2{
        font-size: 1.8em;

    }


    .final_p{
        margin:0;
        width: 95%;
        padding: 1em;
    }


    .final_p p:first-of-type , .final_p p:last-of-type{
            padding: 1em;
            min-width: 100%;
        }
    
    .final_p p:last-of-type{
     margin: 0em;
    }




    
    .contacto > div{
        padding: 0 1em;

        }
    
}


