{% extends 'core/base.html' %}
{% block meta %}
    <meta name="description" content="Destaca tu trabajo y habilidades con un portafolio o sitio personal profesional. Conoce cómo un sitio bien diseñado puede ayudarte a mostrar tus proyectos y atraer nuevas oportunidades.">
    <meta name="keywords" content="portafolios, sitios personales, diseño web personal, presentación de trabajos, desarrollo de portafolios">
{% endblock meta %}

{% block content %}
              


<section id="introduccion" class = "introduccion" >
    <h1 class = "main_text">Muestra tu Trabajo con <span class="text_background">Portafolios o Sitios Personales</span> y Aumenta tu Visibilidad</h1>
    <p>Un portafolio o sitio personal es esencial para profesionales que desean mostrar sus habilidades, proyectos y logros. Ya seas un diseñador, desarrollador, escritor o cualquier otro profesional, un sitio bien diseñado puede ser una herramienta poderosa para atraer clientes y oportunidades laborales.</p>
</section>

<section class = "servicios" id="componentes">
    <article>
        <h2 class = "services_head head_h2">Componentes Clave de un Portafolio o Sitio Personal</h2>
        <ul>
            <li><strong>Biografía:</strong> Una sección sobre ti, tus habilidades y tu experiencia.</li>
            <li><strong>Galería de trabajos:</strong> Muestra tus proyectos y ejemplos de tu trabajo.</li>
            <li><strong>Testimonios:</strong> Opiniones y recomendaciones de clientes o colegas.</li>
            <li><strong>Formulario de contacto:</strong> Facilita que los visitantes te contacten para oportunidades o consultas.</li>
        </ul>
    </article>
</section>

<section class = "servicios" id="como-funciona">
    <article class = "flow ffour">
        <h2 class = "services_head head_h2">¿Cómo Funciona un Portafolio o Sitio Personal?</h2>
        <div><span>1.</span> <h3>Planificación del contenido</h3><p>Se define qué trabajos, logros y habilidades se mostrarán.</p></div>
        <div><span>2.</span> <h3> Diseño y desarrollo</h3> <p>Se crea un sitio atractivo y funcional que refleje tu estilo personal.</p></div>
        <div><span>3.</span> <h3>Publicación</h3> <p>Se lanza el sitio en la web, asegurando su disponibilidad y funcionalidad</p></div>
        <div><span>4.</span> <h3>Actualización continua</h3><p>Se mantiene el sitio actualizado con nuevos proyectos y logros.</p></div>
    </article>
</section>

<section class = "servicios" id="beneficios_portfolio">
    <article>
        <h2 class = "services_head head_h2">Beneficios de Tener un Portafolio o Sitio Personal</h2>
        <ul>
            <li><strong>Demostración de habilidades:</strong> Muestra tus capacidades y experiencia de manera efectiva.</li>
            <li><strong>Visibilidad profesional:</strong> Aumenta tu presencia en línea y atrae potenciales clientes o empleadores.</li>
            <li><strong>Facilidad de contacto:</strong> Proporciona una manera directa para que los interesados se comuniquen contigo.</li>
            <li><strong>Credibilidad:</strong> Refuerza tu reputación profesional y tu autoridad en tu campo.</li>
        </ul>
    </article>
</section>

<section class = "servicios" id="casos-de-uso">
    <article>
        <h2 class = "services_head head_h2">Casos de Uso en la Industria</h2>
        <ul>
            <li><strong>Diseñadores gráficos:</strong> Portafolios que muestran trabajos creativos y diseños.</li>
            <li><strong>Desarrolladores web:</strong> Sitios que presentan proyectos de programación y desarrollo.</li>
            <li><strong>Escritores y bloggers:</strong> Portafolios que destacan publicaciones y artículos escritos.</li>
            <li><strong>Fotógrafos:</strong> Galerías de imágenes y proyectos fotográficos.</li>
        </ul>
    </article>
</section>
{% endblock content %}
