{% extends 'core/base.html' %}
{% block meta %}
    <meta name="description" content="Conoce cómo un sitio corporativo profesional puede mejorar la imagen y presencia online de tu empresa. Descubre los beneficios y componentes de un sitio web corporativo bien diseñado.">
    <meta name="keywords" content="sitios corporativos, diseño web profesional, imagen empresarial, presencia online, desarrollo web empresarial">
{% endblock meta %}

{% block content %}



<section id="introduccion" class = "home">
    <h1 class = 'main_text'>La Importancia de los <span class = 'text_background'>Sitios Corporativos</span> para tu Empresa</h1>
    <p>Un sitio corporativo es la carta de presentación de una empresa en el mundo digital. Con una presencia online profesional, las empresas pueden atraer a sus clientes, comunicar su misión y visión, y destacar entre la competencia. Un buen sitio corporativo no solo refleja la imagen de la compañía, sino que también sirve como una plataforma para generar confianza y credibilidad.</p>
</section>

<section id="componentes" class = 'servicios'>
    <article>
        <h2 class = "services_head head_h2">Componentes Clave de un Sitio Corporativo</h2>
        <ul>
            <li><strong>Diseño Visual Atractivo</strong>: Refleja la identidad visual de la empresa y atrae la atención de los visitantes.</li>
            <li><strong>Navegación Intuitiva</strong>: Permite a los usuarios encontrar fácilmente la información que necesitan.</li>
            <li><strong>Secciones Corporativas</strong>: Página de inicio, servicios, equipo, contacto, blog y más.</li>
            <li><strong>Optimización para SEO</strong>: Mejora la visibilidad en los motores de búsqueda.</li>
        </ul>
    </article>
</section>

<section id="como-funciona" class = 'servicios'>
    <article class = "flow ffour">
        <h2 class = "services_head head_h2">¿Cómo Funciona el Desarrollo de un Sitio Corporativo?</h2>
        <div><span>1.</span> <h3>Planificación y Diseño</h3><p>Se analizan los objetivos de la empresa y se diseñan las páginas claves.</p></div>
        <div><span>2.</span> <h3>Desarrollo</h3> <p>Se desarrolla el sitio siguiendo las mejores prácticas de optimización.</p></div>
        <div><span>3.</span> <h3>Lanzamiento</h3> <p>El sitio se lanza, asegurando una integración fluida con los sistemas existentes.</p></div>
        <div><span>4.</span> <h3>Mantenimiento y Actualización</h3><p>e realizan mejoras continuas para mantener el sitio actualizado.</p></div>
    </article>
</section>

<section id="beneficios" class = 'servicios'>
    <article>
        <h2 class = "services_head head_h2">Beneficios de Tener un Sitio Corporativo</h2>
        <ul>
            <li><strong>Mayor visibilidad online:</strong> Atrae clientes potenciales y aumenta la presencia digital de la empresa.</li>
            <li><strong>Profesionalismo y credibilidad:</strong> Un sitio bien diseñado refleja una imagen sólida y confiable.</li>
            <li><strong>Comunicación eficiente:</strong> Facilita el acceso a información relevante sobre la empresa.</li>
            <li><strong>Generación de leads:</strong> Herramientas para captar interesados y clientes.</li>
        </ul>
    </article>
</section>

<section id="casos-de-uso" class = 'servicios'>
    <article>
        <h2 class = "services_head head_h2">Casos de Uso en la Industria</h2>
        <ul>
            <li><strong>Consultorías:</strong> Presentación de servicios y captación de clientes.</li>
            <li><strong>Empresas de tecnología:</strong> Muestra de productos y servicios innovadores.</li>
            <li><strong>Negocios locales:</strong> Facilita el contacto y atrae clientes a nivel regional.</li>
            <li><strong>Grandes corporaciones:</strong> Comunica la misión, visión y valores a nivel global.</li>
        </ul>
    </article>
</section>
{% endblock content %}
